<footer>
  <div class="container">
    <div class="left">
      <h3>Toy Store</h3>
      <p>
        Proyecto Final de la materia <span> Web Client and Backend Development Frameworks </span> del grupo <span> 7CM1 </span>
      </p>
      <p>Integrantes:</p>
      <ul>
        <li>Calderón Rivera Mario Alberto</li>
        <li>Lechuga Cervantes Cesár Alejandro</li>
        <li>Piña Ramírez Leo Yeudiel</li>
        <li>Vázquez Cisneros Miguel Angel</li>
      </ul>
    </div>
    <div class="rigth">
      <ul>
        <li>
          <a href="#">
            <img src="github.svg" alt="Logo de Github"> Repositorio Backend
          </a>
        </li>
        <li>
          <a href="#">
            <img src="github.svg" alt="Logo de Github"> Repositorio Frontend
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
