/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --backgroundColor: #FFFFFF; 
  --backgroundColorHover: #eeeeee; 
  --primaryColor: #FF6B6B;
  --primaryColorHover: #e25b5b;
  --secondaryColor: #4ECDC4;
  --secondaryColorHover: #46b9b2;
  --thirdColor:#FFE66D;
  --thirdColorHover:#e7cc45;
  --auxColor: #6B5B95;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

.buttonConfirm{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  box-shadow: 3px 3px 0 2px var(--primaryColor);
  transition: 0.5s;
}

.buttonCancel{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--backgroundColor);
  box-shadow: 3px 3px 0 2px var(--primaryColor);
  transition: 0.5s;
}