<div class="container">
  <main>
    <div class="left">
      <h2>¡Empieza a jugar hoy! 🚀</h2>
      <p>
      ¡Bienvenido a tu próxima aventura digital! 🎮✨ Descubre los mejores juegos y ofertas exclusivas en <span>ToyStore</span>. 
    </p>
    <button>Compra Ahora</button>
    </div>
    <div class="rigth">
      <div class="contentBox">
        <img src="main-games.png" alt="Foto principal">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <path fill="#FF6B6B" d="M42.4,-54.1C56.1,-48.5,68.9,-37.5,75.9,-23C82.8,-8.5,83.8,9.5,76.1,22C68.3,34.5,51.7,41.4,37.6,50.8C23.4,60.3,11.7,72.2,-2.8,76.1C-17.4,80,-34.8,75.9,-49.7,66.7C-64.6,57.5,-77.1,43.3,-76.3,28.8C-75.6,14.3,-61.6,-0.6,-52.6,-13.6C-43.6,-26.7,-39.6,-37.9,-31.7,-45.3C-23.8,-52.7,-11.9,-56.3,1.3,-58.1C14.4,-59.8,28.8,-59.6,42.4,-54.1Z" transform="translate(100 100)" />
        </svg>
      </div>
    </div>
  </main>
  <app-products />
</div>